<div ng-include="'components/navbar/navbar.html'"></div>
<div class="container">
  <div class="row">
    <div class="col-md-4">
      <div class="buildings">
        <h2 class="text-center">Buildings</h2>
        <ul ng-repeat="b in buildings">
          <li class="text-center" ng-click="zoomToBuilding(b)"><h4>{{b.properties.address}}<br>{{b.properties.city}}, {{b.properties.state}} {{b.properties.zip}}</h4></li>

        </ul>
        <button ng-repeat-end type="button" class="btn btn-success center-block">Add Building</button>
      </div>
    </div>
    <div class="col-md-8 map-form">
      <div>
        <h2 class="text-center">Add Building</h2>
      </div>
        <div class="col-md-8">
          <div id="building-map"></div>
        </div>
        <div class="col-md-4">
          <form name="buildingForm" novalidate class="css-form">
            <!-- <div class="btn btn-info" ngf-select ng-model="file" name="file" ngf-pattern="'image/*'"
            accept="image/*" ngf-max-size="20MB" ngf-min-height="100"
            ngf-resize="{width: 100, height: 100}">Select</div> -->
            <div class="form-group">
              <label for="address">Address</label>
              <input type="text" class="form-control" id="address" placeholder="Address" ng-model="building.properties.address" required>
            </div>
            <div class="form-group">
              <label for="city">City</label>
              <input type="text" class="form-control" id="city" placeholder="City" ng-model="building.properties.city" required>
            </div>
            <div class="form-group">
              <label for="state">State</label>
              <input type="text" class="form-control" id="state" placeholder="State" ng-model="building.properties.state" required>
            </div>
            <div class="form-group">
              <label for="zip">Zip</label>
              <input type="number" class="form-control" id="zip" ng-model="building.properties.zip" required>
            </div>
            <!-- <div class="form-group">
              <label for="FloorNum">Floor #</label>
              <input type="number" class="form-control" id="FloorNum" placeholder="Floor #" ng-model="self.building.floor_num" required>
            </div> -->
            <!-- <div class="form-group">
              <label for="exampleInputFile">File input</label>
              <input type="file" id="exampleInputFile">
              <p class="help-block">Example block-level help text here.</p>
            </div> -->
            <!-- Name: <input type="text" ng-model="user.name" required /><br />
            E-mail: <input type="email" ng-model="user.email" required /><br />
            Gender: <input type="radio" ng-model="user.gender" value="male" />male
            <input type="radio" ng-model="user.gender" value="female" />female<br /> -->
            <input type="button" class="btn btn-warning" ng-click="reset()" value="Reset" />
            <input type="submit" class="btn btn-info" ng-click="addBuilding(building)" value="Save" />
          </form>
          <!-- Image thumbnail: <img class="thumbnail" ngf-thumbnail="file || '/thumb.jpg'"> -->
          <!-- <pre>master = {{master | json}}</pre> -->
      </div>
    </div>
    </div>
  </div>
</div>
