$ocean-blue:  #4393B9;
$white: #F5F5F5;

#building-map {
  width: 100%;
  height: 40em;
}
.buildings {
  ul{
    li{
      background: $ocean-blue;
      color: $white;
      height: 100%;
      padding: 0.25em;
      margin: 0.25em;
      text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
      &:hover {
        cursor: pointer;
        background: lighten($ocean-blue, 20%);
      }
    }
  }
}

.map-form {
  background: #F8F8F8;
  padding: 0 0 5em 0;
}
