.sensor-control {
  height: 26px;
  width: 26px;
  background: url('/assets/images/rssi.png') no-repeat center;
  background-size: 20px 20px;
  background-color: #fff;
  border: 1px solid #999;
  border-color: rgba(0,0,0,.4);
  border-radius: 3px;
  box-shadow: none;
  position: relative;
  z-index: 7;
  &:hover {
    cursor: pointer;
    background-color: #ddd;
  }
  &:active {
    background-color: #ddd;
  }
}


.active-sensor-button {
  background: url('/assets/images/rssi_on.png') no-repeat center;
  background-size: 20px 20px;
}
